aiohttp
backports.tarfile
brotli
cached-property
cloudpickle
colorama
django
exceptiongroup
flask
fqdn
fsspec
h2
h5netcdf
importlib-metadata
importlib-resources
isoduration
jaraco-context
jaraco-functools
jaraco.text
jsonpointer
kaleido
matplotlib
munkres
netcdf4
notebook
openpyxl
overrides
pip-chill
plotly
pooch
pydap
pyside6
pysocks
pytz
rfc3987-syntax
scikit-learn
shiboken6
sniffio
statsmodels
tinycss2
tomli
typing-utils
unicodedata2
uri-template
waitress
webcolors
xarray
xlrd
zarr
